/****************** Core styles *******************/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: whitesmoke;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

img {
    display: block;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0;
    font-size: 15px;
}

button {
    margin: 17px 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background: whitesmoke;
    line-height: 2px;

}

button:hover {
    background: #DA70D6;
}

button:focus {
    outline: none;
}

.prev img {
    transform: rotate(180deg);
}

a {
    text-decoration: none;
    color: #00003f;
    font-size: 13px;
    opacity: 0.9;

}

a:hover {
    color: rgba(0, 0, 63, 0.6);
}

li {
    list-style: none;
}



/*Header section  */
#navbar {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background: rgb(245, 238, 238);
    z-index: 1;
}

.nav-center {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5em;
}


.header-brand img {
    display: inline;
}

.nav-icon {
    font-size: 30px;
    display: none;
}

.nav-list li {
    display: inline;
    padding: 10px;
}

.nav-demo li {
    padding: 10px 20px 10px 20px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    transition: background-color 1s;
    cursor: pointer;
}
.nav-demo li:hover{
    background-color: 	rgb(255, 107, 181, 0.6); 
    color: #00003f;
}
/***************** section a ******************/

#section-a {
    margin: 150px 15px 100px 12px;
    padding: 0 24px 20px 25px;
    background: #333;
    border-radius: 30px;
    color: #fff;
}

.feature-1 .left h1 {
    font-size: 2em;
}

.feature-1 .left a {
    color: #fff;
    opacity: 0.7;
    background: #8A2BE2;
    border-radius: 15px;
    padding: 10px 25px;
    transition: opacity 1s;
}

.left a:hover {
    opacity: 1;
}

.feature-1 .right img {
    width: 100%;
    opacity: 0.3;
    margin-top: 30px;
}

/**************** section b ******************/
#section-b {
    background: #ffe9ec url(images/features/Vector\ 56.svg);
    margin: 150px 15px 100px 12px;
    border-radius: 70px;
    padding: 0 24px 20px 25px;
}

.feature-2 .left img {
    margin: 0 0;
    width: 100%;
}

.feature-2 .right h1 {
    font-size: 30px;
}

/**************** section c ******************/
#section-c {
    margin: 150px 15px 100px 30px;
    color: #00003f;
}

.top {
    margin-bottom: 50px;
}

.card .right p {
    font-size: 0.7em;
    opacity: 0.8;
    padding: 30px 0;
}

.card .right a{
    font-weight: bold;
}
.card .right {
    text-align: left;
    margin-right: 15px;
    margin-top: 20px;
}

.card .right h5 {
    font-weight: bold;
    padding-bottom: 0;
    opacity: 0.6;
}

.card {
    margin: 70px 0;
}

.card .left img {
    width: 120px;
    margin-top: 50px;
    position: relative;
    left: -40px;
}

.one {
    background: url(images/features/Rectangle\ 39-3.svg);
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 280px;
    height: 310px;
}

.two {
    background: url(images/features/Rectangle\ 39-2.svg);
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 280px;
    height: 270px;
}

.three {
    background: url(images/features/Rectangle\ 39-1.svg);
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 280px;
    height: 300px;
}

.four {
    background: url(images/features/Rectangle\ 39.svg);
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 280px;
    height: 330px;
}

/**************** section d ******************/

#section-d {
    margin: 0 auto;
    background: #8A2BE2;
    border-radius: 50px;
    margin: 100px 18px 100px 14px;
    padding: 30px 0;
    opacity: 0.8;
}

.con .item {
    margin: 40px -20px 20px 10px;
    padding: 40px 20px 0 20px;
    width: 230px;
    height: 300px;
    background: #fff;
    border-radius: 35px;
    box-shadow: inset 0px -9px 0px 0px rgba(67, 13, 143, 0.3);;
}

.des p {
    font-size: 13px;
    opacity: 0.9;
    word-spacing: 4px;
    line-height: 20px;
    padding-top: 10px;
    margin: 0 20px;
}

.img {
    margin: 0 auto;
}

.des {
    margin: 0 0;
    padding: 0 0 0 0;
}

/****************footer section ******************/
.top-sec .left h4 {
    font-size: 2em;
    padding-bottom: 0;
}

.top-sec .right {
    margin-top: 20px;
}

.top-sec .right .demo {
    padding: 15px 20px 15px 20px;
    background: #fff;
    border-radius: 20px;
    text-align: center;
    box-shadow: 3px 5px #dcdcdc;
    transition: background-color 300ms;

}
.top-sec .right .demo:hover{
    background: whitesmoke;
    color: #00003f;
}

.top-sec .right .learn {
    color: #fff;
    font-size: 12px;
    background: #FF69B4;
    border-radius: 15px;
    padding: 10px 20px;
    transition: background-color 1s;
}

.top-sec .learn:hover {
    background: #fff;
    color: #00003f;
}

.data {
    font-size: 20px;
    opacity: 0.8;
}

.data img {
    display: inline-block;
    margin-right: 5px;
}

.mid-sec {
    margin: 50px 0;
}

.so {
    margin-left: 40px;
}

.icon-so .fa {
    font-size: 1.4em;
    border-radius: 100px;
    background: #d3d3d3;
    opacity: 0.6;
    margin-left: 5px;
}

.foot p {
    font-size: 11px;
}

.foot img {
    width: 70px;
    margin: 0 auto;
}

.bold-items {
    font-weight: bolder;
    font-size: 17px;
}
.mid-sec .item {
    padding-top: 20px;
}
